body {
    margin: 0;
    padding: 0;
    width: 100% !important;
    font-family: "Open Sans", sans-serif;
}

header {
    z-index: 1;
}

a {
    color: #47b2e4;
    text-decoration: none;
}

/* *,
::after,
::before {
    box-sizing: content-box;
} */

a:hover {
    color: #73c5eb;
    text-decoration: none;
}

.nav-title {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: orangered;
    font-weight: 700;
}

.nav-title a {
    color: orangered;
}

.navbar {
    padding: 0;
}

.navbar ul {}

.navbar ul li {
    padding: 10px 20px;
}

.navbar ul li:hover {
    background-color: orangered;
    border-radius: 4px;
    transition: .3s;
    color: #37517e;
}

.navbar ul li a {
    color: white;
    font-size: 20px;

}

/*==================== banner part star=============== */
#banner {
    width: 100%;
    height: 80vh;
    background: #37517e;
}

#banner .container {
    padding-top: 72px;
}

#banner h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#banner h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

#banner a {
    color: white;
    font-size: 20px;
    margin: 0 15px;
}

#banner .btn:hover {
    color: #37517e;
    font-size: 20px;
    background-color: orangered;
    border-radius: 4px;
    transition: .3s;
   
}
/* .banner .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

} */
.banner-img{
    width: 40%;
    padding-left: 10%;
}